includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 11 is the highest level
    level: 9

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash::make\(\) expects string, mixed given#'
        - '#Negated boolean expression is always false#'
        - '#Parameter \#1 \$name of method App\\Models\\User::createToken\(\) expects string, mixed given#'

    excludePaths:
        - app/Notifications/*
        - app/Jobs/*
